/* header */
header{
    position: absolute;
    left: 16px;
    top: 67px;
}

#schoolPicks_logo{
    position: absolute;
    width: 74px;
    height: 35px;
}

.campus_option{
    /*
    position: fixed;
    height: 32px;
    left: 233px;
    top: 72px;
    */
    position: absolute;
    height: 32px;
    /*left: calc(50% - 73px/2 + 73px);*/
    left: 233px;
    top: 4px;
}

.campus{
    position: absolute;
    width: 73px;
    height: 32px;
    border-radius: 20px;
    background-color: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px; /*12->14px로 변경*/
    letter-spacing: 0.13em;
    text-align: center;
    line-height: 32px;
}

/* campus + explain */
.explain_div{
    position: absolute;
    left: 31px;
    top: 155px;
    font-style: normal;
    font-weight: 300; /*400-> 300으로 변경*/
    font-size: 13px; /*11->13px로 변경*/
    letter-spacing: 0.05em; /*0.03->0.05em으로 변경*/
    line-height: 19px;
}

.highlight{
    color: rgb(43, 102, 83);
}

/* container */
/* content1 - tag filter & value filter */
/* tag filter */
.transparent_div{
    position: absolute;
    background: rgba(201, 218, 244, 0.4);
    border-radius: 18px;
}

#transparent_tag_filter{
    width: 97px;
    height: 125px;
    top: 238.9px;
    left: 22px;
}

.filter{
    /*
    position: fixed;
    top: 241px;
    height: 125px;
    */
    position: absolute;
    height: 125px; /*111->125*/
}

#tag_filter{
    /*
    position: fixed;
    width: 97px;
    left: 18px;
    */
    position: absolute;
    width: 97px;
    left: -3px;
    top: 2.1px;
    border: 0.2px solid #000000;
    border-radius: 18px;
}

#filter_img{
    width: 17px;
    height: 17px;
    position: absolute;
    left: 39.18%;
    right: 43.3%;
    top: 9%;
    bottom: 72.07%;
}

.tag{
    width: 42px; /*33->42px*/
    height: 23px; /*19->23px*/
    background-color: #DFDFDF;
    border-radius: 8px; /*7->8*/

    font-style: normal;
    font-weight: 380; /*400->380*/
    font-size: 11px; /*9->11px*/
    text-align: center;
    line-height: 23px;
    letter-spacing: 0.03em;
}
/*
input#restaurant_value + label{
    background-color: #DFDFDF;
}

input#restaurant_value:checked + label{
    background-color: rgba(252,180,221,0.8);
}

input#cafe_value + label{
    background-color: #DFDFDF;
}

input#cafe_value:checked + label{
    background-color: rgba(254,214,98,0.8);
}

input#pub_value + label{
    background-color: #DFDFDF;
}

input#pub_value:checked + label{
    background-color: rgba(164,231,231,0.8);
}*/

#tag_restaurant{
    /*
    position: absolute;
    left: 32.99%;
    right: 32.99%;
    top: 37.84%;
    bottom: 45.05%;
    */
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 32%;
}

#restaurant_value{
    position: absolute;
    left: 13%;
    top: 36%;
}

#tag_cafe{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 54%;
}

#cafe_value{
    position: absolute;
    left: 13%;
    top: 58%;
}

#tag_pub{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 75.8%;
}

#pub_value{
    position: absolute;
    left: 13%;
    top: 79.8%;
}


/*
input[type="checkbox"]{
    display: none;
}
*/

/* value filter */
#transparent_value_filter{
    width: 246px;
    height: 125px;
    top: 238.9px;
    left: 130px;
}

#value_filter{
    position: absolute;
    width: 246px;
    left: -3px;
    top: 2.1px;
    border: 0.2px solid #000000;
    border-radius: 18px;
}

#won_img{
    width: 13px;
    height: 13px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 12%;
}

.value_txt{
    position: absolute;
    width: 246px;
    top: 90px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.13em;
}

.min_value_text{
    font-weight: 600;
    color: rgb(43, 102, 83);
}

.max_value_text{
    font-weight: 600;
    color: rgb(43, 102, 83);
}

/* content2 - vending machine */
.content2{
    position: absolute;
    left: 136px;
    top: 415px;
    width: 121px;
    height: 171px;
}

#click_txt{
    position: absolute;
    left: -10px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.13em;
}

#click_arrow_img{
    top: 14px;
    left: 10px;
    width: 16.28px;
    position: absolute;
}

#vending_machine_img{
    left: 10px;
    top: 25px;
    position: absolute;
    width: 98px;
    height: 140px;
    cursor: pointer;
    transition: all 0.2s linear;
}

#vending_machine_img:hover {
    transform: scale(1.05);
}

/* content3 - 음식점추천 */
.content3{
    position: absolute;
    width: 165px;
    height: 42px;
    top: 600px;
    left: 116px;
    background-color: #DCE8E4;
    border-radius: 23px;
    text-align: center;
}

.menu_recommendation{
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 43px;
    letter-spacing: 0.13em;
}

/* content4 - 네이버지도로 이동하기 */
.content4{
    position: absolute;
    left: 145px;
    top: 650px;
}

.goto_navermap{
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.03em;
    position: absolute;
    left: 125px;
    top: 685px;
}

#goto_detail{
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.03em;
    cursor: pointer;
}
