.group-7-1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.header {
  position: absolute;
  top: 67px;
  left: 16px;
  width: 74px;
  height: 35px;
}
.post-box-transparent {
  position: absolute;
  height: 95.77%;
  width: 99.44%;
  border-radius: var(--br-5xs);
  top: 0;
  right: 0;
  bottom: 4.23%;
  left: 0.56%;
  background-color: var(--color-gainsboro-300);
}
.post-box {
  position: absolute;
  height: 95.77%;
  width: 99.44%;
  border-radius: var(--br-5xs);
  top: 4.23%;
  right: 0.56%;
  bottom: 0;
  left: 0;
  border: 0.2px solid var(--ios-key-label);
  box-sizing: border-box;
}
.glass_icon {
  position: absolute;
  height: 42.25%;
  width: 4.21%;
  top: 29.58%;
  right: 89.04%;
  bottom: 28.17%;
  left: 6.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.search_box {
  position: absolute;
  top: 135px;
  left: 18px;
  width: 356px;
  height: 35.5px;
}

.review_content{
  position: absolute;
  top: 196px;
  left: 28.7px;
  width: 335.7px;
}

.ul_border{
  border-bottom: 0.7px solid var(--color-dimgray);
  list-style: none;
  -webkit-padding-start: 0px;
  width: 335.7px;
  height: 26px;
}

.content_button{
  background: none;
  cursor: pointer;
}

.content_no{
  font-size: var(--font-size-6xs);
  letter-spacing: 0.13em;
  font-weight: 200;
  float: left;
  width: 38px;
  height: 23px;
  text-align: left;
  line-height: 23px;
  overflow: auto;
  white-space: nowrap;
}
.content_no::-webkit-scrollbar{
    display: none;
}

.content_title{
  letter-spacing: 0.11em;
  font-weight: 300;
  background-color: var(--color-blanchedalmond-100);
  float: left;
  width: 210px;
  height: 23px;
  text-align: left;
  line-height: 23px;
  padding-left: 4px;
  padding-right: 4px;
  overflow: auto;
  white-space: nowrap;
}
.content_title::-webkit-scrollbar{
    display: none;
}

.content_writer{
  letter-spacing: 0.13em;
  font-weight: 200;
  float: right;
  width: 60px;
  margin-left: 7px;
  height: 23px;
  text-align: right;
  line-height: 23px;
  overflow: auto;
  white-space: nowrap;
}
.content_writer::-webkit-scrollbar{
    display: none;
}


.review_line1 {
  position: absolute;
  top: 211.7px;
  left: 28.7px;
  border-top: 0.7px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 335.7px;
  height: 0.7px;
}
.title1 {
  position: absolute;
  top: 196px;
  left: 59px;
  letter-spacing: 0.11em;
  font-weight: 300;
  background-color: var(--color-blanchedalmond-100);
  padding-left: 5px;
  padding-right: 5px;
}
.no13 {
  top: 198px;
  left: 31px;
  font-size: var(--font-size-6xs);
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}
.writer1 {
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
  top: 196px;
  left: 331px;
}

.review_line2 {
  position: absolute;
  top: 246.7px;
  left: 28.7px;
  border-top: 0.7px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 335.7px;
  height: 0.7px;
}
.title2 {
  position: absolute;
  top: 231px;
  left: 59px;
  letter-spacing: 0.11em;
  font-weight: 300;
  background-color: var(--color-blanchedalmond-100);
  padding-left: 5px;
  padding-right: 5px;
}
.no12 {
  top: 233px;
  left: 31px;
  font-size: var(--font-size-6xs);
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}
.writer2 {
  top: 231px;
  left: 331px;
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}

.review_line3 {
  position: absolute;
  top: 281.7px;
  left: 28.7px;
  border-top: 0.7px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 335.7px;
  height: 0.7px;
}
.title3 {
  position: absolute;
  top: 266px;
  left: 59px;
  letter-spacing: 0.11em;
  font-weight: 300;
  background-color: var(--color-blanchedalmond-100);
  padding-left: 5px;
  padding-right: 5px;
}
.no11 {
  position: absolute;
  top: 268px;
  left: 31px;
  font-size: var(--font-size-6xs);
  letter-spacing: 0.13em;
  font-weight: 200;
}
.writer3 {
  top: 266px;
  left: 331px;
  letter-spacing: 0.13em;
  font-weight: 200;
  position: absolute;
}

.review_line4 {
  top: 316.7px;
  left: 28.7px;
  border-top: 0.7px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 335.7px;
  height: 0.7px;
  position: absolute;
}
.title4 {
  top: 301px;
  left: 59px;
  letter-spacing: 0.11em;
  font-weight: 300;
  background-color: var(--color-blanchedalmond-100);
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
}
.no10 {
  top: 303px;
  left: 31px;
  font-size: var(--font-size-6xs);
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}
.writer4 {
  top: 301px;
  left: 331px;
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}

.menu-nav-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 var(--br-51xl) var(--br-51xl) 0;
  background-color: var(--color-blanchedalmond-200);
}
.menu-selected {
  display: none;
  position: absolute;
  height: 52.78%;
  width: 59.38%;
  top: 22.22%;
  right: 28.13%;
  bottom: 25%;
  left: 12.5%;
}
.menu-unselected {
  position: absolute;
  height: 52.78%;
  width: 59.38%;
  top: 22.22%;
  right: 28.13%;
  bottom: 25%;
  left: 12.5%;
}
.menu-nav {
  clear: both;
  position: absolute;
  top: 664px;
  left: 0;
  width: 32px;
  height: 36px;
  cursor: pointer;
}

.review_line5 {
  position: absolute;
  top: 351.7px;
  left: 28.7px;
  border-top: 0.7px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 335.7px;
  height: 0.7px;
}
.title5 {
  position: absolute;
  top: 336px;
  left: 58px;
  letter-spacing: 0.11em;
  font-weight: 300;
  background-color: var(--color-blanchedalmond-100);
  padding-left: 5px;
  padding-right: 5px;
}
.no9 {
  top: 338px;
  left: 31px;
  font-size: var(--font-size-6xs);
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}
.writer5 {
  top: 336px;
  left: 331px;
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}

.review_line6 {
  position: absolute;
  top: 386.7px;
  left: 28.7px;
  border-top: 0.7px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 335.7px;
  height: 0.7px;
}
.title6 {
  position: absolute;
  top: 371px;
  left: 58px;
  letter-spacing: 0.11em;
  font-weight: 300;
  background-color: var(--color-blanchedalmond-100);
  padding-left: 5px;
  padding-right: 5px;
}
.no8 {
  top: 373px;
  left: 31px;
  font-size: var(--font-size-6xs);
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}
.writer6 {
  top: 371px;
  left: 331px;
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}

.review_line7 {
  position: absolute;
  top: 421.7px;
  left: 28.7px;
  border-top: 0.7px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 335.7px;
  height: 0.7px;
}
.title7 {
  position: absolute;
  top: 406px;
  left: 58px;
  letter-spacing: 0.11em;
  font-weight: 300;
  background-color: var(--color-blanchedalmond-100);
  padding-left: 5px;
  padding-right: 5px;
}
.no7 {
  top: 408px;
  left: 31px;
  font-size: var(--font-size-6xs);
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}
.writer7 {
  top: 406px;
  left: 331px;
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}

.review_line8 {
  position: absolute;
  top: 456.7px;
  left: 28.7px;
  border-top: 0.7px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 335.7px;
  height: 0.7px;
}
.title8 {
  position: absolute;
  top: 441px;
  left: 58px;
  letter-spacing: 0.11em;
  font-weight: 300;
  background-color: var(--color-blanchedalmond-100);
  padding-left: 5px;
  padding-right: 5px;
}
.no6 {
  top: 443px;
  left: 31px;
  font-size: var(--font-size-6xs);
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}
.writer8 {
  top: 441px;
  left: 331px;
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}

.review_line9 {
  position: absolute;
  top: 491.7px;
  left: 28.7px;
  border-top: 0.7px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 335.7px;
  height: 0.7px;
}
.title9 {
  position: absolute;
  top: 476px;
  left: 58px;
  letter-spacing: 0.11em;
  font-weight: 300;
  background-color: var(--color-blanchedalmond-100);
  padding-left: 5px;
  padding-right: 5px;
}
.no5 {
  top: 478px;
  left: 31px;
  font-size: var(--font-size-6xs);
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}
.writer9 {
  top: 476px;
  left: 331px;
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}

.review_line10 {
  position: absolute;
  top: 526.7px;
  left: 28.7px;
  border-top: 0.7px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 335.7px;
  height: 0.7px;
}
.title10 {
  position: absolute;
  top: 511px;
  left: 58px;
  letter-spacing: 0.11em;
  font-weight: 300;
  background-color: var(--color-blanchedalmond-100);
  padding-left: 5px;
  padding-right: 5px;
}
.no4 {
  top: 513px;
  left: 31px;
  font-size: var(--font-size-6xs);
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}
.writer10 {
  top: 511px;
  left: 331px;
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}

.review_line11 {
  position: absolute;
  top: 561.7px;
  left: 28.7px;
  border-top: 0.7px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 335.7px;
  height: 0.7px;
}
.title11 {
  position: absolute;
  top: 546px;
  left: 58px;
  letter-spacing: 0.11em;
  font-weight: 300;
  background-color: var(--color-blanchedalmond-100);
  padding-left: 5px;
  padding-right: 5px;
}
.no3 {
  top: 548px;
  left: 31px;
  font-size: var(--font-size-6xs);
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}
.writer11 {
  top: 546px;
  left: 331px;
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}

.review_line12 {
  position: absolute;
  top: 596.7px;
  left: 28.7px;
  border-top: 0.7px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 335.7px;
  height: 0.7px;
}
.title12 {
  position: absolute;
  top: 581px;
  left: 58px;
  letter-spacing: 0.11em;
  font-weight: 300;
  background-color: var(--color-blanchedalmond-100);
  padding-left: 5px;
  padding-right: 5px;
}
.no2 {
  top: 583px;
  left: 31px;
  font-size: var(--font-size-6xs);
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}
.writer12 {
  top: 581px;
  left: 331px;
  position: absolute;
  letter-spacing: 0.13em;
  font-weight: 200;
}

.review_line13 {
  position: absolute;
  top: 631.7px;
  left: 28.7px;
  border-top: 0.7px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 335.7px;
  height: 0.7px;
}
.title13 {
  position: absolute;
  top: 616px;
  left: 58px;
  letter-spacing: 0.11em;
  font-weight: 300;
  background-color: var(--color-blanchedalmond-100);
  padding-left: 5px;
  padding-right: 5px;
}
.no1 {
  top: 618px;
  left: 31px;
  font-size: var(--font-size-6xs);
  letter-spacing: 0.13em;
  position: absolute;
  font-weight: 200;
}
.writer13 {
  top: 616px;
  left: 331px;
  letter-spacing: 0.13em;
  position: absolute;
  font-weight: 200;
}
.div26 {
  top: 659px;
  left: calc(50% - 2.5px);
  letter-spacing: 0.11em;
  position: absolute;
  font-weight: 200;
}
.reviewver2 {
  position: relative;
  background-color: var(--ios-key-background-highlight);
  width: 100%;
  height: 852px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--ios-key-label);
  font-family: var(--font-inter);
}
.manager_message {
    position: absolute;
    font-size: 13px;
    letter-spacing: 0.11em;
    font-weight: 300;
    width: 280px;
    height: 17px;
    left: 50px;
    top: 10px;
    border: none;
    background-color: transparent;
}