<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global_story.css" />
    <link rel="stylesheet" href="/css/find-mate-ver2.css" />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=SUITE:wght@500;600;700;800&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Odin Rounded:wght@700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poor Story:wght@400&display=swap"
    />
</head>
<body>
<div class="find-mate-ver2" th:object="${findMateRoomPage}">
    <div class="find-mate-ver2-child"></div>
    <div class="header5">
        <img class="group-7-15" alt="" src="/public/group-7-12@2x.png" />
    </div>
    <img class="find-mate-ver2-item" alt="" src="/public/group-22.svg" />
    <form th:action method="post" id="editVer2Form">
        <div class="rectangle-parent16" id="editVer2">
            <div class="group-child13"></div>
            <div class="div91">수정하기</div>
            <div class="password" th:text="${password}" id="passwordVer2">1234</div>
        </div>
    </form>
    <div class="group-container">
        <div class="rectangle-parent19" id="clipboard" th:onclick="greetWorld()">
            <div class="group-child14"></div>
            <div class="kakaotalk1">LinkCopy</div>
            <img class="share-icon2" alt="" src="/public/download_image.png" />
        </div>
        <div class="rectangle-parent17" th:onclick="|location.href='@{/mate/instagram/ver2/{roomId}(roomId=${roomId})}'|" id = "insta2"> <!--여기에 클릭시 넘어가는 페이지 url 넣어주세요-->
            <div class="group-child14"></div>
            <div class="instagram-story1">
                <p class="instagram1">Instagram</p>
                <p class="instagram1">story</p>
            </div>
            <img class="share-icon2" alt="" src="/public/share@2x.png" />
        </div>
        <a class="rectangle-parent18" href="javascript:kakaoShare()">
            <div class="group-child14"></div>
            <div class="kakaotalk1">KakaoTalk</div>
            <img class="share-icon2" alt="" src="/public/share@2x.png" />
        </a>
    </div>
    <div class="menu-nav1">
        <div class="menu-nav-item" id = "menuNavContainer" th:onclick="|location.href='@{/menu}'|">
            <div class="menu-selected1">
                <img class="group-7-15" alt="" src="/public/menu-1-11@2x.png" />
            </div>
            <div class="menu-unselected1">
                <img
                        class="group-7-15"
                        alt=""
                        src="/public/menu-1-285c4da1-11@2x.png"
                />
            </div>
        </div>
    </div>

    <b class="restaurant_name" id="restaurant-name2" th:text="*{shopName}">음식점 이름</b>
    <div class="date" id="appoint-time2" th:text="|*{year}년 *{month}월 *{date}일 *{day} *{time}|">2023년 10월 29일 (일) 오후 5:30</div>
    <div class="rectangle-parent12">
        <div class="group-child9"></div>
        <div class="num_people">인원 수</div>
    </div>
    <div class="container">
        <div class="num5">
            총
            <span id="guest-number2" th:text="*{headCount}">2</span>
            명
        </div>
        <!--<div class="num2">2 <img class="circle-1-icon2" alt="" src="/public/circle-12@2x.png" id="img2_display"/> </div>
        <div class="num3">3 <img class="circle-1-icon2" alt="" src="/public/circle-12@2x.png" id="img3_display"/> </div>
        <div class="num4">4 <img class="circle-1-icon2" alt="" src="/public/circle-12@2x.png" id="img4_display"/> </div>
        <div class="num5">5 <img class="circle-1-icon2" alt="" src="/public/circle-12@2x.png" id="img5_display"/> </div>
        <div class="num6">6 <img class="circle-1-icon2" alt="" src="/public/circle-12@2x.png" id="img6_display"/> </div>
        <div class="num7">7 <img class="circle-1-icon2" alt="" src="/public/circle-12@2x.png" id="img7_display"/> </div>
        <div class="num8">8 <img class="circle-1-icon2" alt="" src="/public/circle-12@2x.png" id="img8_display"/> </div>
        <div class="num9">9 <img class="circle-1-icon2" alt="" src="/public/circle-12@2x.png" id="img9_display"/> </div>-->
    </div>

    <div class="reserver_name" th:text="*{roomWriter}">최땡땡</div>
    <div class="rectangle-parent13">
        <div class="group-child9"></div>
        <div class="reserver">예약자 이름</div>
    </div>
    <div class="message_div" th:text="*{roomMessage}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eveniet molestiae in rem ratione architecto excepturi eius asperiores libero dolorem, dolores accusamus ad, assumenda cupiditate veritatis nulla dolor vero fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ducimus tempora nesciunt perferendis quas distinctio, rerum nemo suscipit perspiciatis beatae cumque eius voluptatibus, soluta nisi at neque labore dignissimos assumenda!</div>
    <div class="rectangle-parent14">
        <div class="group-child9"></div>
        <div class="reserver_add" th:text="|*{roomWriter}의 메시지|">예약자의 메시지</div>
    </div>
    <form th:action="@{/mate/room/ver2/addUser/{roomId}(roomId=${roomId})}" method="post">
        <div class="rectangle-parent15">
            <div class="group-child9"></div>
            <div class="reserver_add">예약자 추가하기</div>
        </div>
        <input type="text" th:field="${addUser.userName}" name="room_manager_name" class="rectangle-div" id="username" placeholder="이름을 입력하세요">
        <button type="submit" id="submitButton"><div class="div87" id="checkname" th:onclick="checkName()">추가</div></button>
    </form>
    <form id="revealFormVer2" th:action="@{/mate/room/ver2/{password}/{roomId}(password=${password}, roomId=${roomId})}" method="post">
        <div class="rectangle-container-1" id="public">
            <div class="group-inner-1"></div>
            <div class="div21-1">이름보기</div>
            <div th:text="${password}" id="password-1">1234</div>
        </div>
    </form>
    <div class="close_time_div">
        <span class="close_time_text" id="close-time2" th:text="*{expiredTime}">2023년 11월 27일 (월) 오전 1:29</span>
        <span class="close_text">마감</span>
    </div>
    <div class="guest_div">
        <ul th:each="user : *{users}">
            <li th:text="${user}">이땡떙</li>
        </ul>
    </div>
    <!--<div class="div86">최땡땡</div>-->
    <div class="find-mate-ver2-inner"></div>
    <!--<div class="find-mate-ver2-child1"></div>
    <div class="find-mate-ver2-child2"></div>
    <div class="div88">이땡땡</div>
    <div class="div89">백땡땡</div>
    <div class="find-mate-ver2-child3"></div>
    <div class="div90">서땡땡</div>
    <div class="find-mate-ver2-child4"></div>-->
    </div>

    <script type="text/javascript" src="/js/menu.js"></script>
    <script  th:inline="javascript">
        function greetWorld() {
          var groupContainer9 = document.getElementById("clipboard");
          if (groupContainer9) {
              groupContainer9.addEventListener("click", function (e) {
                  var linkToCopy = window.location.href; // 현재 페이지의 링크를 가져옴
                  navigator.clipboard.writeText(linkToCopy).then(function() {
                      alert('링크가 클립보드에 저장되었습니다.');
                  }).catch(function(err) {
                      console.error('클립보드 저장 실패: ', err);
                  });
              });
          }
        }
        function checkName() {
            var groupContainer10 = document.getElementById("username").value;
            if (groupContainer10 !== "") {
              var confirmation = confirm('입력하신 이름이 ' + groupContainer10 + ' 맞으신가요?');

              if (confirmation) {

              } else {
                document.getElementById("submitButton").disabled = true;
                groupContainer10 = "";
                return;
              }
            }
            else {
              alert('입력된 값이 없습니다. 다시 입력해 주세요.');
            }
        }
    </script>

    <script th:inline="javascript">
        var roomIDVar = [[${roomId}]];
    </script>
    <script type="text/javascript" th:inline="javascript" src="/js/find_mate_ver2.js"></script>
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.5.0/kakao.min.js" integrity="sha384-kYPsUbBPlktXsY6/oNHSUDZoTX6+YI51f63jCPEIPFP09ttByAdxd2mEjKuhdqn4" crossorigin="anonymous"></script>
    <!-- Kakao.init('사용하려는 앱의 JavaScript 키 입력') -->
    <script>
        Kakao.init('');
    </script>

</body>
</html>