<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="./css/global.css" />
  <link rel="stylesheet" href="./css/find-mate-.css" />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap"
  />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=SF Pro Text:wght@400&display=swap"
  />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poor Story:wght@400&display=swap"
  />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Odin Rounded:wght@700&display=swap"
  />
</head>
<body>
<div class="find-mate-">
  <div class="header3">
    <img class="group-7-13" alt="" src="./public/group-7-1@2x.png" />
  </div>

  <form th:action th:object="${findMateRoom}" method="post">
    <div class="transparent-parent">
      <b class="b">게시글 제목</b>
      <div class="group-child1"></div>
      <div class="group-child2"></div>
      <input type="text" th:field="*{roomTitle}" name="title" class="div22" id="tempt1" placeholder="게시글 제목을 입력하세요">
    </div>
    <div class="transparent-group">
      <b class="b">음식점 이름</b>
      <div class="group-child1"></div>
      <input type="text" th:field="*{shopName}" name="restaurant_name" class="div23" id="tempt2" placeholder="음식점 이름을 입력하세요">
    </div>
    <div class="transparent-container">
      <b class="b">날짜 및 시간</b>
      <div class="group-child1"></div>
<!--      <input type="datetime-local" th:field="*{planTime}" name="date_time" class="div24" id="tempt3">-->
      <input type="datetime-local" th:field="*{planTime}" name="date_time" class="div24" id="tempt3">
    </div>
    <div class="group-div">
      <b class="b">인원 수</b>
      <div class="group-child1"></div>
      <input type="number" th:field="*{headCount}" name="limit_number" class="div25" id="tempt4" value="2" min="2">
      <div class="div25-1">명</div>
    </div>
    <div class="transparent-parent1">
      <b class="b">게시글 작성자</b>
      <div class="group-child1"></div>
      <input type="text" th:field="*{roomWriter}" name="room_manager_name" class="div23" id="tempt5" placeholder="게시글 작성자의 이름을 입력하세요">
    </div>
    <div class="transparent-parent2">
      <b class="b">작성자의 메시지</b>
      <div class="group-child1"></div>
      <textarea type="text" th:field="*{roomMessage}" name="room_manager_message" class="manager_message" placeholder="ex. 김치찌개 먹자"></textarea>
      <div class="group-child8"></div>
    </div>
    <div class="transparent-parent3">
      <b class="b6">친구 이름 공개 / 비공개</b>
      <div class="group-child9"></div>
      <label for="tempt6" class="div27"><input type="checkbox" id="tempt6" name="private" value="name_private" th:field="*{isPrivate}" th:value="true" onclick="clickCheck(this)"> 비공개</label>
      <label for="tempt7" class="div29"><input type="checkbox" id="tempt7" name="private" value="name_public" th:field="*{isPrivate}" th:value="false" onclick="clickCheck(this)"> 공개</label>
    </div>
    <div class="transparent-parent4">
      <b class="b">게시글 수정 비밀번호</b>
      <div class="group-child1"></div>
      <input type="text" th:field="*{roomPassword}" name="edit_password" class="div31" placeholder="4자리 비밀번호를 입력하세요" maxlength="4" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
    </div>
    <div class="transparent-parent5">
      <b class="b">예약자 추가 마감시간</b>
      <div class="group-child1"></div>
      <input type="datetime-local" th:field="*{expiredTime}" name="close_date_time" class="close_div" id="tempt8">
    </div>
    <div class="menu-nav3" id="menuNavContainer" th:onclick="|location.href='@{/menu}'|">
      <div class="menu-nav-child1"></div>
      <div class="menu-selected4">
        <img class="group-7-13" alt="" src="./public/menu-1-11@2x.png" />
      </div>
      <div class="menu-unselected4">
        <img
                class="group-7-13"
                alt=""
                src="./public/menu-1-285c4da1-11@2x.png"
        />
      </div>
    </div>
    <button class="div32 rectangle-parent1 group-child11" id="groupContainer8" type="submit" th:onclick="|location.href='@{/mate/check/{roomId}(roomId=${roomId})}'|">
        작성완료
    </button>

    <div class="find-mate-item"></div>
    <div class="transparent8"></div>
    <b class="b8">컨셉 선택하기</b>
    <div class="find-mate-inner"></div>

    <input name="choose-ver" class="radio-btn" type="radio" id="ver1_select" th:value="1" th:field="${findMateRoom.version}"><label for="ver1_select" class="selected">
      <div class="ver1-selected">
        <div class="ver1">ver1</div>
        <img class="find-mate-child" alt="" src="./public/group-461.svg" />
      </div>
    </label>
    <input name="choose-ver" class="radio-btn" type="radio" id="ver2_select" th:value="2" th:field="${findMateRoom.version}"><label for="ver2_select" class="selected">
      <div class="ver2-selected">
        <div class="ver2">ver2</div>
        <img class="find-mate-child1" alt="" src="./public/group-47.svg" />
      </div>
    </label>
    <input name="choose-ver" class="radio-btn" type="radio" id="ver3_select" th:value="3" th:field="${findMateRoom.version}"><label for="ver3_select" class="selected">
      <div class="ver3-selected">
        <div class="ver3">ver3</div>
        <b class="reser-vation">
          <p class="reser">RESER</p>
          <p class="reser">VATION</p>
          <img class="find-mate-child2" alt="" src="./public/group-52.svg" />
          <img class="find-mate-child3" alt="" src="./public/group-54.svg" />
        </b>
      </div>
    </label>
    <input name="choose-ver" class="radio-btn" type="radio" id="ver4_select" th:value="4" th:field="${findMateRoom.version}"><label for="ver4_select" class="selected">
      <div class="ver4-selected">
        <div class="ver4">ver4</div>
        <div class="random">Random</div>
      </div>
    </label>
    <!--<div class="ver1-selected" id="ver1_select" value="1" th:field="${version}">
      <div class="ver1">ver1</div>
      <img class="find-mate-child" alt="" src="./public/group-461.svg" />
    </div>
    <div class="ver2-selected" id="ver2_select">
      <div class="ver2">ver2</div>
      <img class="find-mate-child1" alt="" src="./public/group-47.svg" />
    </div>
    <div class="ver3-selected" id="ver3_select">
      <div class="ver3">ver3</div>
      <b class="reser-vation">
        <p class="reser">RESER</p>
        <p class="reser">VATION</p>
        <img class="find-mate-child2" alt="" src="./public/group-52.svg" />
        <img class="find-mate-child3" alt="" src="./public/group-54.svg" />
      </b>
    </div>
    <div class="ver4-selected" id="ver4_select">
      <div class="ver4">ver4</div>
      <div class="random">Random</div>
    </div>-->
<!--    <button type="submit" th:onclick="|location.href='@{/mate/check}'|">임시버튼ㄴ</button>-->
  </form>


</div>

<script type="text/javascript" src="./js/menu.js"></script>
<script type="text/javascript" src="./js/find_mate.js"></script>
</body>
</html>