<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/reviewver2.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=SF Pro Text:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poor Story:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Odin Rounded:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="reviewver2">

      <h1>[예시부분]</h1>
      <ul th:each="room : ${rooms}">
        <button th:onclick="|location.href='@{/mate/room/{roomId}(roomId=*{room.roomId})}'|">
          <li th:text="|No. ${room.id}|">게시글 인덱스</li>
          <li th:text="${room.roomTitle}">게시글 제목</li>
          <li th:text="${room.roomWriter}">작성자 이름</li>
        </button>>
      </ul>


      <div class="header">
        <img class="group-7-1" alt="" src="/public/group-7-1@2x.png" />
      </div>
      <div class="search_box">
        <div class="post-box-transparent"></div>
        <div class="post-box" id="topSearchBar1"></div>
        <img
          class="glass_icon"
          alt=""
          src="/public/magnifiyingglass-1@2x.png"
        />
      </div>
      <div class="review_line1"></div>
      <div class="title1">[게시글 제목]</div>
      <div class="no13">No.13</div>
      <div class="writer1">작성자</div>
      <div class="review_line2"></div>
      <div class="title2">[게시글 제목]</div>
      <div class="no12">No.12</div>
      <div class="writer2">작성자</div>
      <div class="review_line3"></div>
      <div class="title3">[게시글 제목]</div>
      <div class="no11">No.11</div>
      <div class="writer3">작성자</div>
      <div class="review_line4"></div>
      <div class="title4">[게시글 제목]</div>
      <div class="no10">No.10</div>
      <div class="writer4">작성자</div>
      <div class="menu-nav" id = "menuNavContainer" th:onclick="|location.href='@{/menu}'|">
        <div class="menu-nav-child"></div>
        <div class="menu-selected">
          <img class="group-7-1" alt="" src="/public/menu-1-1@2x.png" />
        </div>
        <div class="menu-unselected">
          <img
            class="group-7-1"
            alt=""
            src="/public/menu-1-285c4da1-1@2x.png"
          />
        </div>
      </div>
      <div class="review_line5"></div>
      <div class="title5">[게시글 제목]</div>
      <div class="no9">No.9</div>
      <div class="writer5">작성자</div>
      <div class="review_line6"></div>
      <div class="title6">[게시글 제목]</div>
      <div class="no8">No.8</div>
      <div class="writer6">작성자</div>
      <div class="review_line7"></div>
      <div class="title7">[게시글 제목]</div>
      <div class="no7">No.7</div>
      <div class="writer7">작성자</div>
      <div class="review_line8"></div>
      <div class="title8">[게시글 제목]</div>
      <div class="no6">No.6</div>
      <div class="writer8">작성자</div>
      <div class="review_line9"></div>
      <div class="title9">[이번주 수요일 점심 같이 먹을 사람~~~!]</div>
      <div class="no5">No.5</div>
      <div class="writer9">최땡땡</div>
      <div class="review_line10"></div>
      <div class="title10">[나랑 카츠요이 가자]</div>
      <div class="no4">No.4</div>
      <div class="writer10">최땡땡</div>
      <div class="review_line11"></div>
      <div class="title11">
        [10월 29일에 학교 근처에서 나랑 술 마실 사람 구함]
      </div>
      <div class="no3">No.3</div>
      <div class="writer11">최땡땡</div>
      <div class="review_line12"></div>
      <div class="title12">[밥 먹을 사람]</div>
      <div class="no2">No.2</div>
      <div class="writer12">최땡땡</div>
      <div class="review_line13"></div>
      <div class="title13">[게시글 제목]</div>
      <div class="no1">No.1</div>
      <div class="writer13">작성자</div>
      <div class="div26">1</div>
    </div>

    <script type="text/javascript" src="/js/reviewer.js"></script>
    <script type="text/javascript" src="/js/menu.js"></script>
  </body>
</html>
