<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입페이지</title>
</head>
<body>
  <h1>회원가입 페이지 (Sign Up)</h1>
  <br><br>

  <form th:object="${form}" method="post">
    아이디: (여기서 아이디는 로그인전용 아이디를 의미함)
    <input type="text" th:field="*{loginId}"><br>
    닉네임:
    <input type="text" th:field="*{nickname}"><br>
    이메일:
    <input type="text" th:field="*{email}"><br>
    비밀번호(*표시되게):
    <input type="text" th:field="*{password}"><br>
    학번(숫자만 입력 가능하도록):
    <input type="text" th:field="*{studentId}"><br>
    학과(직접 입력 x 선택하도록):
    <input type="text" th:field="*{department}"><br>
    성별 (직접 입력 x 선택하도록):
    <input type="text" th:field="*{sex}"><br>
    나이 (숫자만 입력 가능하도록):
    <input type="text" th:field="*{age}"><br>
    <br>
    <button type="submit">Submit</button> <---- 이 버튼을 누르면 다시 로그인페이지로 이동합니다
  </form>


  <button th:onclick="|location.href='@{/}'|">뒤로가기</button>


<br><br><br>

  <h3>고려해볼 것</h3>
  로그인 아이디로 할 것인지? 학번이나 이메일로 할 것인지?

<h3>후에 추가할 것들 (귀찮으면 안할수도 있음)</h3>
  아이디 중복체크 / 학교이메일인증 / 비밀번호확인 / 닉네임 중복체크 / 이상한 학번입력 체크 / 이상한 나이입력 체크 / 회원가입에 성공했습니다 창 띄우기 등





</body>
</html>