<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global_story.css" />
    <link rel="stylesheet" href="/css/ver1-instagram-story.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=SUITE:wght@500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Odin Rounded:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poor Story:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="ver1-instagram-story" th:object="${findMateRoomPage}">
      <div class="ver1-instagram-story-child"></div>
      <div class="ver1-instagram-story-item"></div>
      <div class="rectangle-parent19">
        <div class="component-child12"></div>
        <div class="component-child13"></div>
        <div class="div92" th:text="*{shopName}">음식점 이름</div>
        <div class="component-child14"></div>
        <div class="div93">
          <span th:text="*{year}">2023</span>
          <span class="span"> </span>
          <span class="span1">년</span>
          <span th:text="*{month}"> 10</span>
          <span class="span"> </span>
          <span class="span1">월</span>
          <span th:text="*{date}"> 29</span>
          <span class="span"> </span>
          <span class="span1">일</span>
<!--          <span> (일) 오후 5:30</span>-->
          <span th:text="*{day}">(일)</span>
          <span class="span2"> </span>
          <span th:text="*{time}">오후 5:30</span>
        </div>
        <div class="component-child15"></div>
        <div class="parent1">
          <div class="div94">인원 수 :</div>
          <div class="div95" th:text="*{headCount}">4
            <div class="div94-1">명</div>
          </div>
        </div>
        <div class="component-child16"></div>
        <div class="parent2">
          <div class="div96">배고픈 사람 :</div>
          <div class="div97" th:text="*{roomWriter}">최땡땡</div>
        </div>
        <div class="component-child17"></div>
        <div class="div98" th:text="|*{roomWriter}의 메시지 : |">최땡땡의 메시지 :</div>
        <div class="message_div" th:text="*{roomMessage}"></div>
        <div class="component-child18"></div>
        <div class="div99">배고픈 사람 :</div>

        <div class="component-child19"></div>
        <div class="reservater_list">
          <ul th:each="user : *{users}">
            <li th:text="${user}">이땡떙</li>
          </ul>
          <!--최땡땡-->
        </div>
        <div class="div100">최땡땡</div>
        <div class="div101">이땡땡</div>
        <div class="div102">백땡땡</div>
        <div class="div103">서땡땡</div>
        <div class="div104">입력</div>
        <div class="header6">
          <img class="group-7-16" alt="" src="/public/group-7-15@2x.png" />
        </div>
        <img class="component-child20" alt="" src="/public/group-45.svg" />

        <img class="component-child21" alt="" src="/public/group-33.svg" />
      </div>
    </div>
  </body>
</html>
