<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global_story.css" />
    <link rel="stylesheet" href="/css/ver2-instagram-story.css" />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=SUITE:wght@500;600;700;800&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Odin Rounded:wght@700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poor Story:wght@400&display=swap"
    />
</head>
<body>
<div class="ver2-instagram-story" th:object="${findMateRoomPage}">
    <div class="rectangle-parent2">
        <div class="instance-child2"></div>
        <div class="instance-child3"></div>
        <div class="rectangle-parent4">
            <div class="group-child1"></div>
        </div>
        <div class="rectangle-parent5">
            <div class="group-child1"></div>
        </div>
        <div class="rectangle-parent6">
            <div class="group-child1"></div>
        </div>
        <div class="instance-child4"></div>
        <div class="instance-child5"></div>
        <div class="instance-child6"></div>
        <div class="instance-child7"></div>
        <div class="instance-child8"></div>
    </div>


    <div class="ver2-instagram-story-child"></div>
    <div class="rectangle-parent7">
        <div class="instance-child2"></div>
        <div class="instance-child3"></div>
        <div class="header3">
            <img class="group-7-14" alt="" src="/public/group-7-14@2x.png" />
        </div>
        <img class="component-child6" alt="" src="/public/group-22.svg" />
        <img class="insta-link-ver2" alt="" src="/public/insta_link.png" />

        <b class="restaurant_name" th:text="*{shopName}">음식점 이름</b>
        <div class="date" th:text="|*{year}년 *{month}월 *{date}일 *{day} *{time}|">2023년 10월 29일 (일) 오후 5:30</div>
        <div class="rectangle-parent3">
            <div class="group-child1"></div>
            <div class="div35">인원 수</div>
        </div>
        <div class="parent">
            <div class="num5">
                총
                <span th:text="*{headCount}">2</span>
                명
            </div>
            <!--<div class="num2">2 <img class="circle-1-icon1" alt="" src="./public/circle-12@2x.png" id="img2_display"/> </div>
            <div class="num3">3 <img class="circle-1-icon1" alt="" src="./public/circle-12@2x.png" id="img3_display"/> </div>
            <div class="num4">4 <img class="circle-1-icon1" alt="" src="./public/circle-12@2x.png" id="img4_display"/> </div>
            <div class="num5">5 <img class="circle-1-icon1" alt="" src="./public/circle-12@2x.png" id="img5_display"/> </div>
            <div class="num6">6 <img class="circle-1-icon1" alt="" src="./public/circle-12@2x.png" id="img6_display"/> </div>
            <div class="num7">7 <img class="circle-1-icon1" alt="" src="./public/circle-12@2x.png" id="img7_display"/> </div>
            <div class="num8">8 <img class="circle-1-icon1" alt="" src="./public/circle-12@2x.png" id="img8_display"/> </div>
            <div class="num9">9 <img class="circle-1-icon1" alt="" src="./public/circle-12@2x.png" id="img9_display"/> </div>-->
        </div>

        <div class="reservater_name" th:text="*{roomWriter}">최땡땡</div>
        <div class="rectangle-parent4">
            <div class="group-child1"></div>
            <div class="div45">예약자 이름</div>
        </div>
        <div class="message_div" th:text="*{roomMessage}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eveniet molestiae in rem ratione architecto excepturi eius asperiores libero dolorem, dolores accusamus ad, assumenda cupiditate veritatis nulla dolor vero fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ducimus tempora nesciunt perferendis quas distinctio, rerum nemo suscipit perspiciatis beatae cumque eius voluptatibus, soluta nisi at neque labore dignissimos assumenda!</div>
        <div class="rectangle-parent5">
            <div class="group-child1"></div>
            <div class="div46" th:text="|*{roomWriter}의 메시지|">예약자의 메시지</div>
        </div>
        <div class="rectangle-parent6">
            <div class="group-child1"></div>
            <div class="div46">예약자 추가하기</div>
        </div>
        <div class="reservater_guest">
            <ul th:each="user : *{users}">
                <li th:text="${user}">이땡떙</li>
            </ul>
            <!--최땡땡-->
        </div>
        <div class="close_time_div">
            <span class="close_time_text" th:text="*{expiredTime}">2023년 11월 27일 (월) 오전 1:29</span>
            <span class="close_text">마감</span>
        </div>
        <div class="div49">추가</div>
        <div class="instance-child4"></div>
        <div class="instance-child5"></div>
        <div class="instance-child6"></div>
        <div class="instance-child7"></div>
        <div class="instance-child8"></div>
    </div>
</div>
<img class="component-child22" alt="" src="/public/X_image.png" th:onclick="|location.href='@{/menu}'|"/>
</body>
</html>