<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./css/global_story.css" />
    <link rel="stylesheet" href="./css/ver2-instagram-story.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=SUITE:wght@500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Odin Rounded:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poor Story:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="ver2-instagram-story">
      <div class="rectangle-parent2">
        <div class="instance-child2"></div>
        <div class="instance-child3"></div>
        <div class="header3">
          <img class="group-7-13" alt="" src="./public/group-7-13@2x.png" />
        </div>
        <img class="group-icon" alt="" src="./public/group-22.svg" />

        <b class="restaurant_name">음식점 이름</b>
        <div class="date">2023년 10월 29일 (일) 오후 5:30</div>
        <div class="rectangle-parent3">
          <div class="group-child1"></div>
          <div class="div35">인원 수</div>
        </div>
        <div class="parent">
          <div class="num2">2</div>
          <div class="num3">3</div>
          <div class="num4">4</div>
          <div class="num5">5</div>
          <div class="num6">6</div>
          <div class="num7">7</div>
          <div class="num8">8</div>
          <div class="num9">9</div>
        </div>
        <img class="circle-1-icon" alt="" src="./public/circle-1@2x.png" />

        <div class="reservater_name">최땡땡</div>
        <div class="rectangle-parent4">
          <div class="group-child1"></div>
          <div class="div45">예약자 이름</div>
        </div>
        <div class="rectangle-parent5">
          <div class="group-child1"></div>
          <div class="div46">예약자의 메시지</div>
        </div>
        <div class="rectangle-parent6">
          <div class="group-child1"></div>
          <div class="div46">예약자 추가하기</div>
        </div>
        <div class="reservater_guest">최땡땡</div>
        <div class="div49">추가</div>
        <div class="instance-child4"></div>
        <div class="instance-child5"></div>
        <div class="instance-child6"></div>
        <div class="div50">이땡땡</div>
        <div class="div51">백땡땡</div>
        <div class="instance-child7"></div>
        <div class="div52">서땡땡</div>
        <div class="instance-child8"></div>
      </div>
      <div class="ver2-instagram-story-child"></div>
      <div class="rectangle-parent7">
        <div class="instance-child2"></div>
        <div class="instance-child3"></div>
        <div class="header3">
          <img class="group-7-14" alt="" src="./public/group-7-14@2x.png" />
        </div>
        <img class="component-child6" alt="" src="./public/group-22.svg" />

        <b class="restaurant_name">음식점 이름</b>
        <div class="date">2023년 10월 29일 (일) 오후 5:30</div>
        <div class="rectangle-parent3">
          <div class="group-child1"></div>
          <div class="div35">인원 수</div>
        </div>
        <div class="parent">
          <div class="num2">2</div>
          <div class="num3">3</div>
          <div class="num4">4</div>
          <div class="num5">5</div>
          <div class="num6">6</div>
          <div class="num7">7</div>
          <div class="num8">8</div>
          <div class="num9">9</div>
        </div>
        <img class="circle-1-icon1" alt="" src="./public/circle-11@2x.png" />

        <div class="reservater_name">최땡땡</div>
        <div class="rectangle-parent4">
          <div class="group-child1"></div>
          <div class="div45">예약자 이름</div>
        </div>
        <div class="rectangle-parent5">
          <div class="group-child1"></div>
          <div class="div46">예약자의 메시지</div>
        </div>
        <div class="rectangle-parent6">
          <div class="group-child1"></div>
          <div class="div46">예약자 추가하기</div>
        </div>
        <div class="reservater_guest">최땡땡</div>
        <div class="div49">추가</div>
        <div class="instance-child4"></div>
        <div class="instance-child5"></div>
        <div class="instance-child6"></div>
        <div class="div50">이땡땡</div>
        <div class="div51">백땡땡</div>
        <div class="instance-child7"></div>
        <div class="div52">서땡땡</div>
        <div class="instance-child8"></div>
      </div>
    </div>
  </body>
</html>