<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global_story.css" />
    <link rel="stylesheet" href="/css/ver3-instagram-story.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=SUITE:wght@500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Odin Rounded:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poor Story:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="ver3-instagram-story">
      <div class="rectangle-parent">
        <div class="instance-child"></div>
        <div class="header">
          <img class="group-7-1" alt="" src="/public/group-7-1@2x.png" />
        </div>
        <img class="instance-item" alt="" src="/public/group-51.svg" />
        <img class="instance-inner" alt="" src="/public/group-51.svg" />
        <div class="reservater_add"></div>
        <div class="line-div"></div>
        <div class="instance-child1"></div>
      </div>


      <div class="ver3-instagram-story-child"></div>
      <div class="rectangle-group">
        <div class="instance-child"></div>
        <div class="header">
          <img class="group-7-11" alt="" src="/public/group-7-11@2x.png" />
        </div>
        <img class="image-2-icon1" alt="" src="/public/image-21@2x.png" /> <!--resevation 배경글씨-->
        <img class="component-item" alt="" src="/public/group-51.svg" />
        <img class="component-inner" alt="" src="/public/group-51.svg" />

        <div class="restaurant_name">음식점 이름</div>
        <div class="date">2023년 10월 29일 (일) 오후 5:30</div>
        <div class="reservater_name">예약자</div>
        <div class="div3">최땡땡</div>
        <div class="div4">예약인원</div>
        <div class="reservater_number">총 4명</div>
        <div class="div6">예약자의 메시지</div>
        <div class="reservater_message">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores perspiciatis voluptatem voluptas voluptatum dicta pariatur facere veniam inventore voluptate, quo repellendus ipsum, quaerat quidem fugit quis illum quas nemo delectus!</div>
        <div class="reservater_button">추가하기</div>
        <div class="reservater_add"></div>
        <div class="line-div"></div>
        <div class="instance-child1"></div>
        <div class="div9">예약자</div>
        <div class="reservater_list">최땡땡</div>
      </div>
    </div>
  </body>
</html>