<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./css/global_story.css" />
    <link rel="stylesheet" href="./css/find-mate-ver2.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=SUITE:wght@500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Odin Rounded:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poor Story:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="find-mate-ver2">
      <div class="find-mate-ver2-child"></div>
      <div class="header5">
        <img class="group-7-15" alt="" src="./public/group-7-12@2x.png" />
      </div>
      <img class="find-mate-ver2-item" alt="" src="./public/group-22.svg" />

      <b class="b11">음식점 이름</b>
      <div class="div72">2023년 10월 29일 (일) 오후 5:30</div>
      <div class="rectangle-parent12">
        <div class="group-child9"></div>
        <div class="div73">인원 수</div>
      </div>
      <div class="container">
        <div class="div74">2</div>
        <div class="div75">3</div>
        <div class="div76">4</div>
        <div class="div77">5</div>
        <div class="div78">6</div>
        <div class="div79">7</div>
        <div class="div80">8</div>
        <div class="div81">9</div>
      </div>
      <img class="circle-1-icon2" alt="" src="./public/circle-12@2x.png" />

      <div class="div82">최땡땡</div>
      <div class="rectangle-parent13">
        <div class="group-child9"></div>
        <div class="div83">예약자 이름</div>
      </div>
      <div class="rectangle-parent14">
        <div class="group-child9"></div>
        <div class="div84">예약자의 메시지</div>
      </div>
      <div class="rectangle-parent15">
        <div class="group-child9"></div>
        <div class="div84">예약자 추가하기</div>
      </div>
      <div class="div86">최땡땡</div>
      <div class="div87">추가</div>
      <div class="find-mate-ver2-inner"></div>
      <div class="find-mate-ver2-child1"></div>
      <div class="find-mate-ver2-child2"></div>
      <div class="div88">이땡땡</div>
      <div class="div89">백땡땡</div>
      <div class="find-mate-ver2-child3"></div>
      <div class="div90">서땡땡</div>
      <div class="find-mate-ver2-child4"></div>
      <div class="menu-nav1">
        <div class="menu-nav-item"></div>
        <div class="menu-selected1">
          <img class="group-7-15" alt="" src="./public/menu-1-11@2x.png" />
        </div>
        <div class="menu-unselected1">
          <img
            class="group-7-15"
            alt=""
            src="./public/menu-1-285c4da1-11@2x.png"
          />
        </div>
      </div>
      <div class="rectangle-parent16">
        <div class="group-child13"></div>
        <div class="div91">수정하기</div>
      </div>
      <div class="group-container">
        <div class="rectangle-parent17">
          <div class="group-child14"></div>
          <div class="instagram-story1">
            <p class="instagram1">Instagram</p>
            <p class="instagram1">story</p>
          </div>
          <img class="share-icon2" alt="" src="./public/share@2x.png" />
        </div>
        <div class="rectangle-parent18">
          <div class="group-child14"></div>
          <div class="kakaotalk1">KakaoTalk</div>
          <img class="share-icon2" alt="" src="./public/share@2x.png" />
        </div>
      </div>
    </div>

    <script type="text/javascript" src="./js/menu.js"></script>
  </body>
</html>
