<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./css/global_story.css" />
    <link rel="stylesheet" href="./css/find-mate-ver3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=SUITE:wght@500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Odin Rounded:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poor Story:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="find-mate-ver3">
      <img class="icon" alt="" src="./public/-1@2x.png" />
      <div class="find-mate-ver3-child3"></div>
      <div class="r-e-s-e-r-v-a-t-i-o-n-parent">
        <b class="r-e-s-container">
          <p class="r">R</p>
          <p class="r">E</p>
          <p class="r">S</p>
          <p class="r">E</p>
          <p class="r">R</p>
          <p class="r">V</p>
          <p class="r">A</p>
          <p class="r">T</p>
          <p class="r">I</p>
          <p class="r">O</p>
          <p class="r">N</p>
        </b>
        <b class="r-e-s-container1">
          <p class="r">R</p>
          <p class="r">E</p>
          <p class="r">S</p>
          <p class="r">E</p>
          <p class="r">R</p>
          <p class="r">V</p>
          <p class="r">A</p>
          <p class="r">T</p>
          <p class="r">I</p>
          <p class="r">O</p>
          <p class="r">N</p>
        </b>
      </div>
      <img class="find-mate-ver3-child" alt="" src="./public/group-511.svg" />

      <img class="find-mate-ver3-item" alt="" src="./public/group-511.svg" />

      <div class="div22">음식점 이름</div>
      <div class="div23">2023년 10월 29일 (일) 오후 5:30</div>
      <div class="div24">예약자</div>
      <div class="div25">최땡땡</div>
      <div class="div26">예약인원</div>
      <div class="div27">총 4명</div>
      <div class="div28">예약자의 메시지</div>
      <div class="div29">냠냠</div>
      <div class="div30">추가하기</div>
      <div class="find-mate-ver3-inner"></div>
      <div class="find-mate-ver3-child1"></div>
      <div class="find-mate-ver3-child2"></div>
      <div class="div31">예약자</div>
      <div class="div32">최땡땡</div>
      <b class="b6">이땡땡</b>
      <b class="b7">백땡땡</b>
      <b class="b8">서땡땡</b>
      <div class="menu-nav">
        <div class="menu-nav-child", id="menuNavContainer"></div>
        <div class="menu-selected">
          <img class="menu-1-1" alt="" src="./public/menu-1-1@2x.png" />
        </div>
        <div class="menu-unselected">
          <img
            class="menu-1-1"
            alt=""
            src="./public/menu-1-285c4da1-1@2x.png"
          />
        </div>
      </div>
      <div class="group-parent">
        <div class="rectangle-container">
          <div class="group-child"></div>
          <div class="instagram-story">
            <p class="r">Instagram</p>
            <p class="r">story</p>
          </div>
          <img class="share-icon" alt="" src="./public/share@2x.png" />
        </div>
        <div class="group-div">
          <div class="group-child"></div>
          <div class="kakaotalk">KakaoTalk</div>
          <img class="share-icon" alt="" src="./public/share@2x.png" />
        </div>
      </div>
      
      <div class="header2">
        <img class="menu-1-1" alt="" src="./public/group-7-12@2x.png" />
      </div>
      <div class="rectangle-parent1">
        <div class="group-inner"></div>
        <div class="div33">수정하기</div>
      </div>
    </div>

    <script type="text/javascript" src="./js/menu.js"></script>
  </body>
</html>
