<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/reviewver2.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=SF Pro Text:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poor Story:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Odin Rounded:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="reviewver2">
      <div class="transparent"></div>
      <div class="transparent1"></div>
      <div class="transparent2"></div>
      <div class="transparent3"></div>
      <div class="transparent4"></div>
      <div class="transparent5"></div>
      <div class="transparent6"></div>
      <div class="transparent7"></div>
      <div class="transparent8"></div>
      <div class="transparent9"></div>
      <div class="transparent10"></div>
      <div class="transparent11"></div>
      <div class="transparent12"></div>
      <div class="header">
        <img class="group-7-1" alt="" src="./public/group-7-1@2x.png" />
      </div>
      <div class="component-8">
        <div class="post-box-transparent"></div>
        <div class="post-box"></div>
        <img
          class="magnifiying-glass-1-icon"
          alt=""
          src="./public/magnifiyingglass-1@2x.png"
        />
      </div>
      <div class="reviewver2-child"></div>
      <div class="div">[게시글 제목]</div>
      <div class="no13">No.13</div>
      <div class="div1">작성자</div>
      <div class="reviewver2-item"></div>
      <div class="div2">[게시글 제목]</div>
      <div class="no12">No.12</div>
      <div class="div3">작성자</div>
      <div class="reviewver2-inner"></div>
      <div class="div4">[게시글 제목]</div>
      <div class="no11">No.11</div>
      <div class="div5">작성자</div>
      <div class="line-div"></div>
      <div class="div6">[게시글 제목]</div>
      <div class="no10">No.10</div>
      <div class="div7">작성자</div>
      <div class="menu-nav">
        <div class="menu-nav-child"></div>
        <div class="menu-selected">
          <img class="group-7-1" alt="" src="./public/menu-1-1@2x.png" />
        </div>
        <div class="menu-unselected">
          <img
            class="group-7-1"
            alt=""
            src="./public/menu-1-285c4da1-1@2x.png"
          />
        </div>
      </div>
      <div class="reviewver2-child1"></div>
      <div class="div8">[게시글 제목]</div>
      <div class="no9">No.9</div>
      <div class="div9">작성자</div>
      <div class="reviewver2-child2"></div>
      <div class="div10">[게시글 제목]</div>
      <div class="no8">No.8</div>
      <div class="div11">작성자</div>
      <div class="reviewver2-child3"></div>
      <div class="div12">[게시글 제목]</div>
      <div class="no7">No.7</div>
      <div class="div13">작성자</div>
      <div class="reviewver2-child4"></div>
      <div class="div14">[게시글 제목]</div>
      <div class="no6">No.6</div>
      <div class="div15">작성자</div>
      <div class="reviewver2-child5"></div>
      <div class="div16">[이번주 수요일 점심 같이 먹을 사람~~~!]</div>
      <div class="no5">No.5</div>
      <div class="div17">최땡땡</div>
      <div class="reviewver2-child6"></div>
      <div class="div18">[나랑 카츠요이 가자]</div>
      <div class="no4">No.4</div>
      <div class="div19">최땡땡</div>
      <div class="reviewver2-child7"></div>
      <div class="div20">
        [10월 29일에 학교 근처에서 나랑 술 마실 사람 구함]
      </div>
      <div class="no3">No.3</div>
      <div class="div21">최땡땡</div>
      <div class="reviewver2-child8"></div>
      <div class="div22">[밥 먹을 사람]</div>
      <div class="no2">No.2</div>
      <div class="div23">최땡땡</div>
      <div class="reviewver2-child9"></div>
      <div class="div24">[게시글 제목]</div>
      <div class="no1">No.1</div>
      <div class="div25">작성자</div>
      <div class="div26">1</div>
    </div>
  </body>
</html>
