.ver1-selected {
  position: absolute;
  top: 172px;
  left: 42px;
  background-color: var(--color-gainsboro-300);
  width: 74px;
  height: 74px;
  display: none;
}
.ver2-selected {
  left: 120px;
  display: none;
}
.ver2-selected,
.ver3-selected,
.ver4-selected {
  position: absolute;
  top: 172px;
  background-color: var(--color-gainsboro-300);
  width: 74px;
  height: 74px;
}
.ver3-selected {
  left: 198px;
  display: none;
}
.ver4-selected {
  left: 276px;
}
.group-7-13 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.header3 {
  top: 67px;
  left: 16px;
  width: 74px;
  height: 35px;
}
.b,
.header3,
.transparent {
  position: absolute;
}

.b {
  top: 0;
  left: 5.5px;
  letter-spacing: 0.11em;
  background-color: var(--color-gainsboro-300);
  padding-left: 5px;
  padding-right: 5px;
}
.group-child1,
.group-child2 {
  position: absolute;
  top: 16.5px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 332px;
  height: 1px;
}

.group-child2 {
  top: 48.5px;
}
.div22 {
  position: absolute;
  top: 33px;
  left: 17.5px;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.11em;
  font-weight: 300;
}
.transparent-parent {
  position: absolute;
  height: 5.75%;
  width: 84.22%;
  top: 30.75%;
  bottom: 63.5%;
  left: 30.5px;
}

.div23 {
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.11em;
  font-weight: 300;
}
.transparent-group {
  position: absolute;
  height: 2%;
  width: 332px;
  top: 38.26%;
  bottom: 59.74%;
  left: 30.5px;
}

.div24 {
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.11em;
  font-weight: 300;
}
.transparent-container,
.transparent3 {
  position: absolute;
  height: 2%;
  width: 332px;
  top: 42.02%;
  bottom: 55.99%;
  left: 30.5px;
}

.div25 {
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.11em;
  font-weight: 300;
}
.group-div {
  position: absolute;
  height: 2%;
  width: 332px;
  top: 45.77%;
  bottom: 52.23%;
  left: 30.5px;
}

.transparent-parent1 {
  position: absolute;
  height: 2%;
  width: 332px;
  top: 49.53%;
  bottom: 48.47%;
  left: 30.5px;
}

.jmt {
  position: absolute;
  top: 27px;
  left: 17.5px;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.11em;
  font-weight: 300;
}
.group-child8 {
  position: absolute;
  top: 90.5px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 332px;
  height: 1px;
}
.transparent-parent2 {
  position: absolute;
  height: 10.68%;
  width: 332px;
  top: 53.29%;
  bottom: 36.03%;
  left: 30.5px;
}

.transparent6 {
  position: absolute;
  height: 10.68%;
  width: 84.22%;
  top: 53.29%;
  bottom: 36.03%;
  left: 30.5px;
}

.b6 {
  position: absolute;
  top: 3px;
  left: 5.5px;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.11em;
  background-color: var(--color-gainsboro-300);
  padding-left: 5px;
  padding-right: 5px;
}
.group-child9 {
  top: 19.5px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 332px;
  height: 1px;
}
.div27,
.div28,
.group-child9 {
  position: absolute;
}
.div27 {
  top: 4px;
  right: 10px;
  letter-spacing: 0.11em;
  font-weight: 300;
}
.div28 {
  top: 5px;
  right: 43px;
  border: 0.7px solid var(--ios-key-label);
  box-sizing: border-box;
  width: 10px;
  height: 10px;
}
.check-icon {
  top: 557px;
  right: 40px;
  width: 13px;
  height: 13px;
  object-fit: cover;
  display: none;
}
.check-icon,
.div29,
.div30 {
  position: absolute;
}
.div29 {
  top: 4px;
  right: 70px;
  letter-spacing: 0.11em;
  font-weight: 300;
}
.div30 {
  top: 5px;
  right: 93px;
  border: 0.7px solid var(--ios-key-label);
  box-sizing: border-box;
  width: 10px;
  height: 10px;
}
.check-icon1 {
  position: absolute;
  top: 0;
  right: 90px;
  width: 13px;
  height: 13px;
  object-fit: cover;
}
.transparent-parent3 {
  position: absolute;
  height: 2.35%;
  width: 332px;
  top: 65.38%;
  bottom: 32.28%;
  font-size: var(--font-size-3xs);
  left: 30.5px;
}

.div31 {
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.11em;
  font-weight: 300;
}
.menu-nav-child1,
.transparent-parent4 {
  position: absolute;
  height: 2%;
  width: 332px;
  top: 69.48%;
  bottom: 28.52%;
  left: 30.5px;
}
.menu-nav-child1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 var(--br-51xl) var(--br-51xl) 0;
  background-color: var(--color-blanchedalmond-200);
}
.menu-selected4 {
  display: none;
}
.menu-selected4,
.menu-unselected4 {
  position: absolute;
  height: 52.78%;
  width: 59.38%;
  top: 22.22%;
  right: 28.13%;
  bottom: 25%;
  left: 12.5%;
}
.menu-nav3 {
  position: absolute;
  top: 664px;
  left: 0;
  width: 32px;
  height: 36px;
  cursor: pointer;
}
.group-child11 {
  position: absolute;
  top: 0;
  left: calc(50% - 49px);
  border-radius: var(--br-4xl);
  background-color: var(--color-gainsboro-100);
  width: 98px;
  height: 38px;
}
.div32 {
  position: absolute;
  top: 11px;
  left: calc(50% - 27px);
  letter-spacing: 0.13em;
  font-weight: 300;
}
.rectangle-parent1 {
  position: absolute;
  top: 636px;
  left: 148px;
  width: 98px;
  height: 38px;
  cursor: pointer;
  font-size: var(--font-size-smi);
}
.ver1 {
  position: absolute;
  top: 186px;
  left: 70px;
  font-size: var(--font-size-5xs);
  letter-spacing: 0.11em;
  font-weight: 300;
}
.find-mate-child {
  position: absolute;
  top: 206px;
  left: 47px;
  width: 63px;
  height: 28.2px;
}
.find-mate-item {
  position: absolute;
  top: 246.5px;
  left: 30.5px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 332px;
  height: 1px;
}

.b8 {
  position: absolute;
  top: 155px;
  left: 36px;
  letter-spacing: 0.11em;
  background-color: var(--color-gainsboro-300);
  padding-left: 5px;
  padding-right: 5px;
}
.find-mate-inner {
  position: absolute;
  top: 171.5px;
  left: 30.5px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 332px;
  height: 1px;
}
.find-mate-child1 {
  position: absolute;
  top: 206px;
  left: 135px;
  width: 45px;
  height: 32px;
}
.random,
.ver2,
.ver3,
.ver4 {
  position: absolute;
  top: 186px;
  left: 147px;
  font-size: var(--font-size-5xs);
  letter-spacing: 0.11em;
  font-weight: 300;
}
.random,
.ver3,
.ver4 {
  left: 225px;
}
.random,
.ver4 {
  left: 303px;
}
.random {
  top: 214px;
  left: 291px;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.13em;
}
.reser {
  margin: 0;
}
.reser-vation {
  position: absolute;
  top: 209px;
  left: 209px;
  font-size: 15px;
  letter-spacing: 0.07em;
  font-family: var(--font-odin-rounded);
  color: var(--ios-key-background-highlight);
  -webkit-text-stroke: 0.3px #3761e8;
}
.find-mate-child2 {
  position: absolute;
  top: 202.5px;
  left: 255px;
  width: 3.5px;
  height: 9.1px;
}
.find-mate-child3 {
  position: absolute;
  top: 206.5px;
  left: 249px;
  width: 14.8px;
  height: 20px;
}
.find-mate- {
  position: relative;
  background-color: var(--ios-key-background-highlight);
  width: 100%;
  height: 852px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--ios-key-label);
  font-family: var(--font-inter);
}
